:root
{
    --font-size-normal:              18px;
    --font-size-code:                15px;
    --font-size-side-dock:           15px;
    --font-size-side-dock-title:     18px;
    --font-size-status-bar:          15px;
    --font-size-h1:                  33px;
    --font-size-h2:                  25px;
    --font-size-h3:                  21px;
    --font-size-h4:                  20px;
    --font-size-h5:                  19px;
    --font-size-h6:                  18px;
    --font-family-editor:            SF Mono, Avenir Next, sans-serif;
    --font-monospace:                SF Mono, Avenir Next, sans-serif;
    --font-family-preview:           SF Pro Display, Avenir Next, sans-serif;
}

.theme-light,
.theme-dark {
  --background-embed: #c799b61c;
  --background-embed-hover: hsl(324 20% 20% / 1);
  --background-primary: #07010a;
  --background-primary-alt: #44475a;
  --background-secondary: #44475a;
  --background-secondary-alt: #000000;
  --background-accent: #f8f8f2;
  --background-modifier-border: #6fd498;
  --background-modifier-form-field: rgba(0, 0, 0, 0.2);
  --background-modifier-form-field-highlighted: rgba(0, 0, 0, 0.5);
  --background-modifier-box-shadow: rgba(0, 0, 0, 0.3);
  --background-modifier-success: #50fa7b;
  --background-modifier-error: #3d0000;
  --background-modifier-error-rgb: 61, 0, 0;
  --background-modifier-error-hover: #470000;
  --background-modifier-cover: rgba(0, 0, 0, 0.6);
  --text-accent: #6fd498;
  --text-accent-hover: #8be9fd;
  --text-normal: #E3D3C4;
  --text-muted: #f8f8f2;
  --text-faint: #a57f97;
  --text-highlight-bg: #2e5a40;
  --text-error: #ff79c6;
  --text-error-hover: #ff79c6;
  --text-selection: #6272a4;
  --text-on-accent: #bd93f9;
  --interactive-normal: #ffb86c;
  --interactive-hover: #ff5555;
  --interactive-accent: #244632;
  --interactive-accent-rgb: 123, 108, 217;
  --interactive-accent-hover: #ff5555;
  --scrollbar-active-thumb-bg: #282a36;
  --scrollbar-bg: #282a36;
  --scrollbar-thumb-bg: #282a36;
  --text-title: #d297bc;
  --inline-code: #bd93f9;
  --code-block: #8be9fd;
  --pre-code: #121b15;
  --blockquote-border: #6fd498;
  --vim-cursor: #ff5555;
  --border-color: #2b2727;
}

/*-------------------------------------*/
/*      Search the following lines     */
/*     to jump to specific section     */
/*-------------------------------------*/
/*  resize-handle and borders          */
/*                tags               */
/*             link              */
/*                Cursor               */
/* basic format in EDITOR and PREVIEW */
/* Headings - EDITOR and PREVIEW */
/*         Code block in  Preview      */
/*       Code block in Editor          */
/*              Brackets               */
/*             Blockquote              */
/*             table                   */
/*               Checkbox              */
/*           html in editor            */
/*              popover                */
/*            Side panel               */
/* internal embedded link in preview   */
/*             graph view              */
/*            settings                 */
/*            Hide side bar            */
/*           width of content          */
/*  note header bar for non-andy mode */
/* andy mode activated in light mode  */
/*    at a rule line before ul list    *
/*  Hide Scrollbar (recommend for mac)  */
/*-------------------------------------*/

/***************************************/
/*  resize-handle and borders          */
/***************************************/

/*vertical resize-handle*/
.workspace-split.mod-vertical > * > .workspace-leaf-resize-handle,
.workspace-split.mod-left-split > .workspace-leaf-resize-handle,
.workspace-split.mod-right-split > .workspace-leaf-resize-handle{
  width: 1px !important;
  background-color: var(--border-color);
}

/*horizontal resize-handle*/
.workspace-split.mod-horizontal > * > .workspace-leaf-resize-handle{
  height: 1px !important;
  background-color: var(--border-color);
}

/*workspace ribbon when collapsed*/
.workspace-ribbon.is-collapsed {
  background-color: var(--background-primary-alt);
}

/*the vertical split*/
.workspace-split.mod-root .workspace-split.mod-vertical .workspace-leaf-content,
.workspace-split.mod-vertical > .workspace-split,
.workspace-split.mod-vertical > .workspace-leaf,
.workspace-tabs{
  padding-right: 0px;
}

/*status-bar*/
.status-bar{
  font-size: var(--font-size-status-bar);
  background-color: var(--background-secondary-alt);
  border-top: 0px;
}

.document-search-container{
  border-top: 0px;
  border-right: 0px;
  z-index: inherit;
}

.workspace-ribbon.mod-left.is-collapsed{
  border-right: 1px solid var(--border-color);
}

.workspace-ribbon.mod-right.is-collapsed{
  border-left: 1px solid var(--border-color);
}

/*************************************/
/*                tags               */
/*************************************/

/* Tag hover in preview */
a.tag:hover {
  color: var(--text-accent) !important;
}

/* Tag Color in editor and preview*/
.cm-hashtag, a.tag {
  color: var(--text-accent-hover) !important;
  text-decoration: none !important;
  font-style: normal !important;
}

/* ====== Tag Pills ======== */
.tag:not(.token) {
	background-color: var(--background-secondary);
	border: none;
	color: white;
	font-size: 11px;
	padding: 1px 8px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	margin: 0px 0px;
	cursor: pointer;
	border-radius: 8px;
    line-height: 2.2em;
    vertical-align: middle;
}
.tag:not(.token):hover {
	color: white;
	background-color: var(--text-accent-hover);
}
.tag[href^="#obsidian"] {
	background-color: #4d3ca6;
}
.tag[href^="#important"] {
	background-color: red;
}
.tag[href^="#complete"] {
	background-color: green;
}
.tag[href^="#inprogress"] {
	background-color: orange;
}
/*********************************/
/*             link              */
/*********************************/

/* link */
a,
.internal-link,
.cm-hmd-internal-link,
.cm-link,
.cm-formatting-link,
.cm-url {
  text-decoration: none !important;
}

.cm-s-obsidian span.cm-url {
  color: var(--text-accent);
}

/* the url string in editor */
.cm-s-obsidian span.cm-string{
  color: var(--text-accent-hover) !important;
}

/* make external links italics to differentiate */
a:not(.internal-link) {
  font-style: italic;
}

/*footnote*/
.cm-s-obsidian pre.HyperMD-footnote span.cm-hmd-footnote,
.cm-s-obsidian span.cm-footref {
  color: var(--text-accent) !important;
}

/***************************************/
/*                Cursor               */
/***************************************/

/* Cursor color and opacity */

.cm-fat-cursor .CodeMirror-cursor, .cm-animate-fat-cursor
 {
  width: 0.5em;
  background: var(--vim-cursor);
  opacity: 60% !important;
}

/**************************************/
/* basic format in EDITOR and PREVIEW */
/**************************************/

/* font for everything outside of editor/preview panes */
.app-container {
  font-family: var(--font-family-preview);
}

/* set the text selection color for preview mode */
::selection {
  background-color: var(--text-selection);
}

/* normal text outside of headings and code of editor */
.cm-s-obsidian, .mod-single-child .cm-s-obsidian {
  font-family: var(--font-family-editor);
  font-size: var(--font-size-normal);
}

/* normal text outside of headings and code of preview */
.markdown-preview-view, .mod-single-child .markdown-preview-view {
  font-size: var(--font-size-normal);
  padding-left: 2% !important;
  padding-right: 1% !important;
  padding-top: 30px;
}

/* bold in preview and editor */
strong, .cm-strong {
  font-weight: 600;
  color: #50fa7b;
}

/* emphasis in preview and editor */
em, .cm-em {
  font-style: italic;
}

/* strikethrough in preview and editor */
s, .cm-strikethrough {
  color: var(--text-muted);
}

/* list in editor */
.cm-s-obsidian span.cm-formatting-list {
  color: var(--text-normal) !important;
}

/* horizontal line in preview */
.markdown-preview-view hr {
  background-color: var(--text-faint) !important;
  border-top-width: 1px;
}

/* embedded images */
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/* img hover zoom out img*/
img:hover {
  transform: scale(1.04);
  transition: transform 0.25s ease-in-out 0s;
}

.community-theme img:hover{
  transform: none;
}

/*********************************/
/* Headings - EDITOR and PREVIEW */
/*********************************/


/* headings for editor and preview */
.CodeMirror pre.HyperMD-header-1, .markdown-preview-view h1
{
  font-weight: 500;
  font-size: var(--font-size-h1);
  color: var(--text-title);
}
.markdown-preview-view h1 {
  margin-top: 1.1em;
  margin-bottom: -0.3em;
}

.CodeMirror pre.HyperMD-header-2, .markdown-preview-view h2
{
  font-weight: 500;
  font-size: var(--font-size-h2);
  color: var(--text-title);
}
.markdown-preview-view h2 {
  margin-bottom: -0.4em;
  margin-top: 1em;
}

.CodeMirror pre.HyperMD-header-3, .markdown-preview-view h3
{
  font-weight: 500;
  font-size: var(--font-size-h3);
  color: var(--text-title);
}
.markdown-preview-view h3 {
  margin-bottom: -0.5em;
  margin-top: 0.9em;
}

.CodeMirror pre.HyperMD-header-4, .markdown-preview-view h4
{
  font-weight: 500;
  font-size: var(--font-size-h4);
  color: var(--text-title);
}
.markdown-preview-view h4 {
  margin-bottom: -0.5em;
  margin-top: 0.8em;
}

.CodeMirror pre.HyperMD-header-5, .markdown-preview-view h5
{
  font-weight: 500;
  font-size: var(--font-size-h5);
  color: var(--text-title);
}
.markdown-preview-view h5 {
  margin-bottom: -0.5em;
  margin-top: 0.7em;
}

.CodeMirror pre.HyperMD-header-6, .markdown-preview-view h6
{
  font-weight: 500;
  font-size: var(--font-size-h6);
  color: var(--text-title);
}
.markdown-preview-view h6 {
  margin-bottom: -0.5em;
  margin-top: 0.6em;
}

/***************************************/
/*         Code block in  Preview      */
/***************************************/

/* code blocks in preview */
pre code {
  font-size: var(--font-size-code) !important;
  padding: 6px !important;
  line-height: normal;
  display: block;
  color: var(--code-block)  !important;
}

/* padding of code blocks in preview */
.markdown-preview-view pre {
  padding: 0px !important;
}

/* font-size of in-line block for preview */
.markdown-preview-view code
{
  font-size: var(--font-size-code);
}


/* remove the shadow that typically affect light mode */
.theme-dark code[class*="language-"],
.theme-dark pre[class*="language-"]
{
    text-shadow: none !important;
    color: var(--text-faint) !important;
    background-color: var(--pre-code);
}

/***************************************/
/*              Brackets               */
/***************************************/

.cm-s-obsidian span.cm-formatting-link {
  color: var(--text-accent) !important;
}

/***************************************/
/*             Blockquote              */
/***************************************/

/* for editor */
.cm-quote {
  color: var(--text-normal) !important;
  font-style: italic;
}

/* for preview */
.markdown-preview-view blockquote {
  background-color: var(--pre-code);
  border: 0px solid;
  border-color: var(--blockquote-border) !important;
  border-left-width: 1px !important;
  border-radius: 0 8px 8px 0;
  line-height: 1.5em;
  margin: 1em 10px;
  font-style: italic;
}

.markdown-preview-view blockquote p {
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 18px;
  margin-bottom: 0px;
}

/* Fix bug where there is sometimes an empty div and p at the end of blockquote
 * */
.markdown-preview-view blockquote div + p:last-child {
  margin-top: 0px;
}

.markdown-preview-view blockquote > *:first-child {
  margin-top: 0px !important;
}

.markdown-preview-view blockquote > *:last-child {
  margin-bottom: 0px !important;
}

/***************************************/
/*             table                   */
/***************************************/

th {
  font-weight: 800 !important;
}

.markdown-preview-view th {
    font-weight: 800;
    background-color: var(--background-secondary) !important;
}

thead {
  border-bottom: 3px solid var(--background-modifier-border);
}

.table {
  padding: 4px;
  line-height: normal;
  display: block;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

/***************************************/
/*               Checkbox              */
/***************************************/

.markdown-preview-view .task-list-item-checkbox:checked::before {
  content: '✓';
  position: absolute;
  color: var(--text-accent);
  font-size:1em;
  line-height: 1.25em;
  width:1.2em;
  text-align:center;
  text-shadow: 0 0 0.1em var(--text-accent);
}

.markdown-preview-view .task-list-item-checkbox {
  -webkit-appearance: none;
  top: 0.2em !important;
  right: 4px;
  box-sizing: border-box;
  border: 1px solid  var(--text-muted);
  position: relative;
  width: 1.25em;
  height: 1.25em;
  margin: 0;
  box-shadow: 0 0 0.1em var(--text-muted);
}

.checkbox-container {
    background-color: var(--background-primary);
}


/***************************************/
/*              popover                */
/***************************************/

.popover{
  border: 1px solid var(--text-accent) !important;
  background-color: var(--background-embed-hover);
  padding: 10px !important;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.popover.hover-popover {
  max-height: 500px;
  width: 500px;
  min-height: 0px;
  overflow: auto;
}

.popover.hover-popover .markdown-embed {
  height: auto;
}

.popover.hover-popover .markdown-embed .markdown-embed-link {
  top: 0px;
  right: 0px;
}

/***************************************/
/*            Side panel               */
/***************************************/

/* search result in backlink or file search */
.search-result-file-title {
  font-size: 15px ;
}

.search-result-file-matches, .search-empty-state {
  font-size: var(--font-size-side-dock);
}

/*decrease the spacing between result items*/
.search-result-file-title,
.search-result-file-match {
  padding: 0px 10px;
}

.nav-file-title, .nav-folder-title {
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}

/*backlink pane*/
.workspace-leaf-content[data-type="backlink"] .view-content{
  background-color: var(--background-secondary);
}

.workspace-leaf-content[data-type="tag"] .tag-pane-tag-count,
.workspace-leaf-content[data-type="tag"] .tag-pane-tag-text {
  font-size: var(--font-size-side-dock);
}

.workspace-leaf-content[data-type="backlink"] .search-result-file-matches {
  font-size: var(--font-size-side-dock);
}
/***************************************/
/* internal embedded link in preview   */
/***************************************/

/* Naked Embeds */
.markdown-embed-title {
  opacity: 0%;
  position: absolute;
}

.markdown-embed:hover > .markdown-embed-title {
  opacity: 100%;
  transition: opacity .25s ease;
}
.markdown-preview-view .markdown-embed-content>:first-child { margin-top: 0; }
.markdown-preview-view .markdown-embed-content>:last-child { margin-bottom: 0; }
/*remove the following two line, you will get border and scroll*/

.markdown-preview-view .markdown-embed {
    border: none;
    background: var(--background-embed);
    padding: 5px;
    margin: -6px;
    border-radius: 5px;
    border: 1px solid hsl(322 40% 16% / 1);
}

.markdown-embed .markdown-preview-view .markdown-embed {
    margin-left: 0px;
    margin-right: 0px;
}
.markdown-preview-view .markdown-embed-content > .markdown-preview-view {
  max-height: none;
}
.markdown-preview-view .markdown-embed:hover {
    background: var(--background-embed-hover);
    transition: background .25s ease;
}
.markdown-embed:hover .markdown-embed-link {
  color: var(--text-accent) !important;
  transition: color .25s ease-in-out;
}

.markdown-embed-title, .file-embed-title {
    font-size: 19px;
    line-height: 19px;
    top: 5px;
    left: 0;
    right: 0;
    width: 100%;
    text-align: center;
    font-weight: 500;
    color: var(--text-accent);
}

.markdown-preview-view .markdown-embed-content
{
  max-height: unset;
}
.markdown-embed-content > .markdown-preview-view {
  padding-left: 0px !important;
  padding-right: 0px !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

/* the link on the top right corner*/
.markdown-embed-link {
  color: var(--text-faint) !important;
  right: 8px;
}

.markdown-embed:hover .markdown-embed-link:hover {
  color: var(--text-accent-hover) !important;
}

.markdown-preview-view .markdown-embed-content p:first-child {
  margin-top: 18px;
}

.markdown-preview-view .markdown-preview-section:last-of-type > * {
  margin-bottom: 0px;
}

.markdown-preview-view .markdown-preview-pusher + .markdown-preview-section > * {
  margin-top: 0px !important;
}

.markdown-embed .markdown-preview-view .markdown-preview-sizer {
  min-height: 0px !important;
}


/***************************************/
/*             graph view              */
/***************************************/
.graph-view.color-circle,
.graph-view.color-fill-highlight,
.graph-view.color-line-highlight
{
    color: var(--text-accent) !important;
}

.graph-view.color-text
{
    color: var(--text-normal) !important;
}

.graph-view.color-line {
    color: #6272a4;
}

.graph-view.color-fill{
    color: var(--text-muted);
}

.workspace-leaf-content[data-type = "graph"] .view-content{
  background-color: var(--background-primary);
}

/***************************************/
/*            settings                 */
/***************************************/

.modal.mod-settings button:not(.mod-cta):hover {
  background-color: var(--interactive-accent-hover);
}

/***************************************/
/*            Hide side bar            */
/***************************************/

.workspace-ribbon:not(:hover) .workspace-ribbon-collapse-btn,
.workspace-ribbon:not(:hover) .side-dock-actions,
.workspace-ribbon:not(:hover) .side-dock-settings {
  display:none;
  transition: all 300ms ease-in-out;}
.workspace-ribbon:not(:hover) {
  width: 0px;
  transition: all 300ms ease-in-out;}

.workspace-split.mod-left-split {margin-left: 0px;}
.workspace-split.mod-right-split {margin-right: 0px;}

/***************************************/
/*           width of content          */
/***************************************/

.markdown-source-view.is-readable-line-width .CodeMirror {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

.markdown-preview-view.is-readable-line-width .markdown-preview-section {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

/**************************************/
/*  note header bar for non-andy mode */
/*        activated in dark mode      */
/**************************************/

/* header */

.view-header {
  background-color: var(--background-primary) !important;
  border-top: 1px solid var(--border-color) !important;
  border-bottom: 1px solid var(--border-color) !important;
  height: 42px;
}

.view-header-title-container {
  padding-left: 0px;
}

.view-header-title-container:after {
  background: linear-gradient(to bottom, transparent, var(--background-primary)) !important;
}

.view-header-title {
  line-height: 42px;
  font-size: 20px;
}

.view-header-icon {
  padding-top: 10px;
  padding-right: 7px;
}

.workspace-leaf.mod-active .view-header {
  background-color: var(--background-secondary-alt) !important;
  border-top: 0px !important;
  border-bottom: 1px solid var(--interactive-accent) !important;
}

.workspace-leaf.mod-active .view-header-title-container:after {
  background: linear-gradient(to bottom, transparent, var(--background-secondary-alt)) !important;
}

.workspace-leaf.mod-active .view-header-title,
.workspace-leaf.mod-active .view-header-icon
{
  color: var(--background-modifier-border);
}

.view-header-title, .view-header-icon, .view-action{
  color: var(--text-faint);
}

.view-header:not(:hover) .view-actions {
  opacity: 0.1;
  transition: opacity .25s ease-in-out;
  width: 0px;
  padding-left: 0px;
}


/***************************************/
/*    at a rule line before ul list    */
/***************************************/

ul ul { position: relative; }
ul ul::before {
  content:'';
  border-left: 1px solid var(--border-color);
  position: absolute;
}
ul ul::before { left: -1em; top: 0; bottom: 0; }

/* rule line when there are checkboxes*/
ul .task-list-item ul::before {left: 0.15em !important}

ol .markdown-preview-view ol,
ol .markdown-preview-view ul,
ul .markdown-preview-view ol,
ul .markdown-preview-view ul {
  margin-block-start: 1em;
  margin-block-end: 1em;
}

ol .markdown-preview-view ol ol,
ol .markdown-preview-view ol ul,
ol .markdown-preview-view ul ol,
ol .markdown-preview-view ul ul,
ul .markdown-preview-view ol ol,
ul .markdown-preview-view ol ul,
ul .markdown-preview-view ul ol,
ul .markdown-preview-view ul ul {
  margin-block-start: 0em;
  margin-block-end: 0em;
}


/* .markdown-preview-view ul { */
/*     margin-block-start: 0.8em; */
/*     margin-bottom: 15px; */
/* } */

/***************************************/
/*       Code block in Editor          */
/***************************************/

/* in-line block for editor */
.cm-s-obsidian span.cm-inline-code,
.cm-s-obsidian span.cm-inline-code.cm-hmd-indented-code,
.cm-s-obsidian span.cm-inline-code:not(.cm-formatting):not(.cm-hmd-indented-code)
{
  background-color: var(--pre-code-bg);
  color: var(--inline-code) !important;
  bottom: 0px !important;
}

 /* Editor CodeBlock TEXT Appearance */
.cm-s-obsidian pre.HyperMD-codeblock {
  font-size: var(--font-size-code) !important;
  display: block;
  color: var(--code-block) !important;
  font-weight: 500;
}

/*remove the border of codeblock in editor */
.HyperMD-codeblock-bg{
  border: 0px !important;
}

/*an active line highlight in vim normal mode
.cm-fat-cursor .CodeMirror-activeline .CodeMirror-linebackground{
  background-color: var(--text-selection) !important;
} */

/* in-line block for preview */
code {
  color: var(--inline-code) !important;
  bottom: 0px !important;
}

/* graph css  */
.theme-dark .graph-view.color-arrow {
  color: #50fa7b;
  }

  .theme-dark .graph-view.color-fill-tag {
    color: #ffb86c;
  }

  .theme-dark .graph-view.color-fill-attachment {
    color: #ff5555;
  }

  .theme-dark .graph-view.color-fill-unresolved {
    color: #6272a4;
  }

  .search-result-collapse-indicator {
    position: absolute;
    left: 0;
    top: -3px;
    color: var(--text-faint);
    transition: transform 100ms ease-in-out;
    padding: 0px  !important;
  }


.cm-s-obsidian pre.HyperMD-list-line {
    padding-top: 0em !important;
}

.CodeMirror-activeline {
    filter: saturate(1.2) brightness(1.2);
}

.search-result-file-matched-text {
  color: var(--text-accent);
  background-color: inherit;
}
.search-result-file-matched-text:hover {
  color: var(--text-accent-hover);
  background-color: inherit;
}

.suggestion-container {
  overflow: hidden;
}

sup, sub {
  vertical-align: baseline;
  position: relative;
  top: -0.5em;
}
sub {
  top: 0.4em;
}

.markdown-preview-view .mod-highlighted {
  border-radius: 4px;
  transition-duration: 0.5s;
}
